body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background:linear-gradient(to top,grey,rgb(20, 1, 59),black);
    height: 800px;
    color: aliceblue;
    font-size:30px;
    font-weight: bold;
    font-style: italic;
    margin: 0%;
}

#board {
    height: 540px;
    width: 630px;
    background: linear-gradient(to left,gray, black);
    border: 10px solid black;
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 400px;
}

.tile {
    height: 70px;
    width: 70px;
    margin: 5px;
    background-color: aliceblue;
    border-radius: 50%;
    border: 5px solid gray;
}

.red-piece {
    background-color: red;
}

.yellow-piece {
    background-color: yellow;
}
